<div class="panel panel-success">
  <div class="panel-heading">@Title</div>
  <div class="panel-body">@PanelContent</div>
</div>

@functions {
    public string Title { get; set; }
    public RenderFragment PanelContent { get; set; }
}
