@using System.Globalization
@*
    The 'using' directive makes System.Globalization available to 
    the component. System.Globalization provides a method for 
    converting a string into title case (capitalizes the first 
    letter of every word in a string), which is used to convert a 
    a string into title case for a heading.
*@

@*
    Heading text is rendered by evaluating the HeadingText property. 
    The font-style of the heading is rendered by evaluating the 
    HeadingFontStyle property.
*@
<h1 style="font-style:@_HeadingFontStyle">@_HeadingText</h1>

<form>
    <div class="form-check">
        @*
            A check box sets the font style and is bound to the 
            ItalicsCheck property.
        *@
        <input type="checkbox" class="form-check-input" 
            id="italicsCheck" bind="@_ItalicsCheck" />
        <label class="form-check-label" 
            for="italicsCheck">Use italics</label>
    </div>

    @*
        When the form is submitted, the onclick event executes 
        the UpdateHeading method.
    *@
    <button class="btn btn-primary" onclick="@UpdateHeading">
        Update heading
    </button>
</form>

@functions {
    private static TextInfo _tinfo = CultureInfo.CurrentCulture.TextInfo;
    private string _HeadingText = 
        _tinfo.ToTitleCase("welcome to blazor!");
    private string _HeadingFontStyle = "normal";
    private bool _ItalicsCheck = false;

    // When UpdateHeading is executed, _ItalicsCheck determines 
    // the value of _HeadingFontStyle to set the font style of the 
    // heading.
    public void UpdateHeading()
    {
        _HeadingFontStyle = _ItalicsCheck ? "italic" : "normal";
    }
}
