.container {
    width: 100%;
    padding: 0;
}

.article
{
  margin-top: 0;
}

.article > .col-md-10
{
    width: 100%;
}

.article > .col-md-2
{
    display: none;
}

div.subnav.navbar.navbar-default
{
  display: none;
}

.anchorjs-link {
  display: none;
}

a:hover, a:focus {
  color: #C1D38B;
}

.hero {
    color: #C1D38B;
    background-color: #385361;
    background-image: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#000),color-stop(100%,#385361));
    background-image: -webkit-linear-gradient(180deg,#000 0,#803612 100%);
    background-image: -moz-linear-gradient(180deg,#000 0,#803612 100%);
    background-image: -ms-linear-gradient(180deg,#000 0,#803612 100%);
    background-image: -o-linear-gradient(180deg,#000 0,#803612 100%);
    background-image: linear-gradient(180deg,#000 0,#803612 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#803612', GradientType=1);
    margin-top: -50px;
}
.hero strong {
    color: #e7e7e7;
}
.buttons-unit .button {
    color: #fff;
    background: #6E8B60;
}
.buttons-unit .button:active, .buttons-unit a:hover {
    background: #617a54;
}
/*
.toc .nav > li.active > a, .affix ul > li.active > a, .affix ul > li.active > a:before {
  color: #6E8B60;
}
*/
.btn-primary {
    background: #6E8B60;
    color: #fff;
    border-color: #8f9eab;
    -webkit-box-shadow: 3px 4px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 4px 1px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 4px 1px rgba(50, 50, 50, 0.75);
}
/* .toc .nav > li.active > a:hover, .toc .nav > li.active > a:focus, .toc .nav > li > a:hover, .toc .nav > li > a:focus */
.btn-primary:hover, .btn-primary:focus, button:hover, button:focus {
  background: #617a54;
  border-color: #8f9eab;
}


/*
.affix ul > li > a:before {
  color: #cccccc;
}
*/
/*
.toc .nav > li > a, .affix ul > li > a, .affix ul > li > a:hover {
  color: #666666;
}
*/

svg:hover path {
    fill: #ffffff;
}

.counter-key-section{
  border: 2px solid #6E8B60;
  -webkit-border-image-source: -webkit-gradient(linear, left, right, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, #385361), color-stop(100%, rgba(0, 0, 0, 0)));
  -webkit-border-image-source: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0), #385361 50%, rgba(0, 0, 0, 0));
  -moz-border-image-source: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0), #385361 50%, rgba(0, 0, 0, 0));
  -ms-border-image-source: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0), #385361 50%, rgba(0, 0, 0, 0));
  -o-border-image-source: -o-linear-gradient(90deg, rgba(0, 0, 0, 0), #385361 50%, rgba(0, 0, 0, 0));
  border-image-source: linear-gradient(90deg, rgba(0, 0, 0, 0), #385361 50%, rgba(0, 0, 0, 0));
  border-image-slice: 1;
}

/* End Colors */

.value-prop-heading {
  font-size: 24px;
}

#vp-container{
  margin-top: 30px;
}

.hero {
    height: 350px;
    margin-top: 50px;
    padding-top: 50px;
    font-weight: 300;
    text-align: center;
}
.key-section{
  padding: 30px 0;
}

.key-section .glyphicon, .counter-key-section .glyphicon {
  font-size: 8em;
  padding: 50px;
  display: table-cell;
  vertical-align: middle;
}
.glyphicon {
  margin-right: 10px;
  font-size: 16px;
}

.key-section section, .counter-key-section section {
  display: table-cell;
  padding: 40px;
}

.key-section section p, .counter-key-section section p {
  text-align: initial;
}

.counter-key-section{
  padding: 30px 0;
}
.buttons-unit-small{
  font-size: 16px;
}
.version-link, .github-link{
  margin: 5px;
}
.hero strong {
    font-weight: 400;
    font-family: Rockwell;
}
.hero .text {
    font-size: 64px;
    text-align: center;
}
.hero .minitext {
    font-size: 20px;
    text-align: center;
    font-family: Candara;
}
.buttons-unit {
    margin-top: 60px;
    text-align: center;
}
.hero .button {
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 12px;
    box-shadow: 1px 3px 3px rgba(0,0,0,0.3);
}
.buttons-unit .button {
    font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .hero {
    height: 500px;
    margin-top: 0px;
  }
  .hero .button {
    display: block;
    margin: 12px;
  }
}

footer{
  position: relative;
}

/* Corner Ribbon Styles */
.cr {
  width: 200px;
  padding: 16px;
  position: absolute;
  text-align: center;
  color: #f0f0f0;
  z-index: 1000;
}

.cr-sticky {
  position: fixed;
}

/* Positions */

.cr-top    { top: 25px; }
.cr-bottom { bottom: 25px; }
.cr-left   { left: -50px; }
.cr-right  { right: -50px; }

/* Rotations */

.cr-top.cr-left,
.cr-bottom.cr-right {
  transform: rotate(-45deg);
}

.cr-top.cr-right,
.cr-bottom.cr-left {
  transform: rotate(45deg);
}

/* Colors */

.cr-white     { background-color: #f0f0f0; color: #444; }
.cr-black     { background-color: #333; }
.cr-grey      { background-color: #999; }
.cr-blue      { background-color: #39d; }
.cr-green     { background-color: #6E8B60; }
.cr-turquoise { background-color: #1b9; }
.cr-purple    { background-color: #95b; }
.cr-red       { background-color: #e43; }
.cr-orange    { background-color: #e82; }
.cr-yellow    { background-color: #ec0; }
